@import url(global.css);

header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 139px;
    background-color: var(--color-secondary);
    padding: 45px;
    border-bottom: 2px solid var(--color-primary);
}

header .nav-header ul {
    display: flex;
    gap: 45px;
    list-style: none;
}

header .nav-header ul li a{
    color: var(--color-neutral-white);
    text-decoration: none;
    transition: 0.3s;
}

header .nav-header ul li a:hover {
    color: var(--color-primary);
}

header .btn-header {
    background-color: var(--color-primary);
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-white);
    text-decoration: none;
    border: 1px solid var(--color-primary);
    transition: 0.2s;
}

header .btn-header:hover {
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 85.5px;
    background-color: var(--color-secondary);
}

main .main-content {
    display: flex;
    flex-direction: column;
    gap: 25px;
    width: 497px;
    color: var(--color-neutral-white);
}

main .main-content h1 {
    font-size: var(--font-size-h1);
    font-weight: var(--font-weight-bold);
}

span {
    color: var(--color-primary);
}

main .main-content p {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

main .main-content a {
    padding: 10px 25px;
    text-decoration: none;
    text-align: center;
    font-size: var(--font-size-button);
    font-weight: var(--font-weight-bold);
    color: var(--color-neutral-white);
    border: 1px solid var(--color-primary);
    border-radius: 8px;
    width: 139px;
    transition: 0.3s;
}

main .main-content a:hover {
    background-color: var(--color-primary);
}

main img {
    transition: 0.3s;
}
main img:hover {
    transform: translateY(-10px);
}

.section-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 75.5px 0;
    background-color: var(--color-neutral-white);
}

.details-card {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 607px;
}

.details-card h2 {
    font-size: var(--font-size-h2);
    font-weight: var(--font-weight-bold);
}

.details-card p {
    font-size: var(--font-size-body);
    font-weight: var(--font-weight-regular);
}

.section-details img {
    transition: 0.3s;
}
.section-details img:hover {
    transform: translateY(-10px);
}

